.heading{
    font-size: 30px;
    width: 100%;
    margin: 1px;
    box-shadow: 6px 6px 6px gainsboro;
}
.heading_div
{
    float: none;
    background: rgb(151, 126, 126);
    padding: 12px;
    border-radius: 25px;
    color: black;
    box-shadow: 6px 6px 6px gainsboro;
}
.heading_div2
{
    font-size:20px;
}